.vscode-server/*
.config/*
.cache/*
.dotnet/*
miniconda3/*
.conda/*
tesi/LSTM_skeleton/__pycache__/*
.bash_history
.bash_logout
.bashrc
.lesshst
.netrc
.profile
.wget-hsts
checkpoint.pth
Miniconda3-latest-Linux-x86_64.sh
.vscode/launch.json
tesi/LSTM_skeleton/checkpoints/*
tesi/LSTM_skeleton/kit_numpy/*
tesi/LSTM_skeleton/visualizations/*
tesi/LSTM_skeleton/wandb/*
wandb/*
